.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;

    margin: 0 auto;
    text-align: center;
}

.content {
    padding: 20px 0;
    background-color: #333;
}

.text-center {
    text-align: center;
}