.form-search {
    display: block;

    margin-bottom: 15px;
    border-bottom: 1px solid $black-light-plus;

    > div {
        margin: 10px;
    }
}

.form-group {
    margin-bottom: 10px;

    .form-input {
        font-size: 14px;
        padding: 10px;
        color: $black;
        border: 2px solid $white;
        border-radius: 2px;
        width: 100%;

        transition: all .2s;

        &:focus {
            border-color: $green;
        }
    }
}

.btn {
    cursor: pointer;

    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid $green-border;
    background-color: $green;

    color: $white;
    font-size: 14px;

    transition: all .2s;

    &:hover {
        background-color: $green-border;
    }

    &:active {
        background-color: $green-dark;
    }

    &.btn-submit {
        margin-top: 10px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .form-search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        > div {
            width: 20%;
        }

        .btn.btn-submit {
            width: 100%;
        }
    }

    .btn {
        &.btn-submit {
            margin-top: 0;
            width: auto;
        }
    }
}