.header {
  padding: 20px 0;
  text-align: center;

  a {
    text-decoration: none;
  }

  .logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;

    margin: 0 auto;
  }

  .user-menu {
    display: flex;
    justify-content: space-between;

    font-size: 16px;
  }

  .user-link {
    text-transform: capitalize;
    font-weight: bold;
  }

  .logout {
    cursor: pointer;
    transition: all .2s;

    i {
      transform: rotate(180deg);
    }

    &:hover {
      color: $green;
    }
  }

  .logo {
    width: 60px;

    img {
      width: 100%;
    }
  }

  .logo-title {
    text-transform: uppercase;
    font-weight: bold;
  }
}